<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">  
    <gazebo>
        <pose>0 0 0.05 0 0 ${pi}</pose>
        
        <plugin
        filename="libignition-gazebo-diff-drive-system.so"
        name="ignition::gazebo::systems::DiffDrive">
            <left_joint>left_wheel_joint</left_joint>
            <right_joint>right_wheel_joint</right_joint>
            <wheel_separation>0.3</wheel_separation>
            <wheel_radius>0.05</wheel_radius>
            <odom_publish_frequency>1</odom_publish_frequency>
            <topic>cmd_vel</topic>
        </plugin>
        
        <plugin
        filename="libignition-gazebo-joint-state-publisher-system"
        name="ignition::gazebo::systems::JointStatePublisher">
        </plugin>

        <plugin
        filename="libignition-gazebo-odometry-publisher-system"
        name="ignition::gazebo::systems::OdometryPublisher">
        <odom_frame>world</odom_frame>
        <robot_base_frame>base_link</robot_base_frame>
        </plugin>

    </gazebo>
    
    <gazebo reference="caster_wheel">
        <mu1 value="0.0"/>
        <mu2 value="0.0"/>
    </gazebo>

</robot>
